.BackgroundImage
{
    background-color: #0397AB;
    background-image: url(../images/smokes.jpeg);
    background-blend-mode: multiply;
    background-size: cover;
}

body
{
    background-color: #0A323C;
    background-image: url(../images/smokes.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

header
{
    width: 100%;
}

header a
{
    text-decoration: none;
}

h1 
{
    width: 30%;
    margin-left: 35%;
    text-align: center; 
    padding: .2em;
    border: solid #785A28 1px;
    border-radius: .3em;
}

h1:hover
{
    background-color: #CDFAFA;
    border: 2px solid #C89B3C;
}

hr
{
    color: #785A28;
    margin-top: 4em;
    margin-left: 5%;
    width: 90%;
}

.Section
{
    margin-left: 2em;
    width: 90%;
    height: 300px;
    margin-top: 3em;
    margin-bottom: 1em;
    border: solid #785A28 2px;
    font-size: 1.5em;


}


.NavFlex
{
    margin-top: 5em;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 1em;
    list-style-type: none;
}

.NavFlex li
{
    flex-grow: 1;
    flex-shrink: 1;
    display: inline;
    border: 1px solid #785A28;
    border-radius: .35em;
    text-align: center;
    padding: 1em;
}

.NavFlex li a
{
    text-decoration: none;
    color: #785A28;
    font-weight: bolder;
    font-size: 1.5em;
}

.NavFlex li:hover
{
    background-color: #CDFAFA;
    border: 2px solid #C89B3C;
}

.NavFlex li:hover a
{
    color: #C89B3C;
}

.Section h2
{
    color: white;
}

.Section p
{
    color: #A09B8C;
    font-size: .75em;
}

.Section img
{
    float: left;
    margin-right: 1.5em;
    width: 25%;
    height: 100%;
    clear: both;
}

#Form
{
    border: 2px solid #785A28;
    padding: 3em;
    padding-right: 4em;
    margin-top: 5em;
    width: 30%;
    margin-left: 33.5%;
}

#Selected
{

}
