.BackgroundImage
{
    background-color: #0397AB;
    background-image: url(../images/smokes.jpeg);
    background-blend-mode: multiply;
    background-size: cover;
}

body
{
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
    background-color: #0A323C;
    background-image: url(../images/smokes.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

header
{
    width: 100%;
}

header a
{
    text-decoration: none;
}

h1 
{
    margin-left: 35%;
    width: 30%;
    text-align: center; 
    padding: .2em;
    border: solid #785A28 1px;
    border-radius: .3em;
}

h1 a
{
    color: #785A28;
}

h1:hover
{
    background-color: #CDFAFA;
    border: 2px solid #C89B3C;
}

h1:hover a
{
    color: #C89B3C;
}

h1:active a
{
    color: white;
}

hr
{
    color: #785A28;
    margin-top: 4em;
    margin-left: 5%;
    width: 90%;
}

.NavFlex
{
    margin-top: 5em;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 1em;
    list-style-type: none;
}

.NavFlex li
{
    flex-grow: 1;
    flex-shrink: 1;
    display: inline;
    border: 1px solid #785A28;
    border-radius: .35em;
    text-align: center;
    padding: 1em;
}

.NavFlex li a
{
    text-decoration: none;
    color: #785A28;
    font-weight: bolder;
    font-size: 1.5em;
}

.NavFlex li:hover
{
    background-color: #CDFAFA;
    border: 2px solid #C89B3C;
}

.NavFlex li:hover a
{
    color: #C89B3C;
}

.NavFlex li a:active
{
    color: white;
}

.EpisodeHead
{
    margin-left: 1em;
}

.Section
{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    margin-top: 3em;
    margin-bottom: 1em;
    border: solid #785A28 2px;
    font-size: 1.5em;
}

.Section h2
{
    color: white;
    margin-bottom: .3em;
}

.Section p
{
    color: #A09B8C;
    font-size: 1.20em;
    margin-top: 0;
}

.Section p a
{
    text-decoration: none;
    color: white;
}

.Section img
{
    float: left;
    margin-right: 1.5em;
    width: 25%;
    height: 100%;
    clear: both;
}

.Columns
{
    column-count: 2;
    column-rule: 2px solid white;
    column-gap: 50px;
    padding: 1em;
}

#Form
{
    float: left;
    border: 1px solid #785A28;
    padding: 3em;
    padding-right: 4em;
    margin-top: 5em;
    margin-left: 7.5%;
    width: 40%;
    margin-bottom: 2em;
}

#Location
{
    float: right;
    width: 30%;
    border: 1px solid #785A28;
    padding: 3em;
    padding-right: 4em;
    margin-top: 5em;
    margin-right: 7.5%;
}
#Location h2
{
    color: white;
}

#ContactSection
{
    border: solid 1px #785A28;
    width: 20%;
    margin-top: 5em;
    margin-left: 40%
}

#ContactInfo
{
    color: white;
    font-size: 1.5em;
    width: 100%;
    padding: 1em;
}

th,td,tr
{
    border: solid 1px #785A28;
    text-align: left;
}

#EmptySpace
{
    margin-top: 100px;
}

#ReferencesList
{
    color: white;
}

#ReferencesList li
{
    margin-bottom: 2em;
}

#ReferencesList li a
{
    color: #785A28;
}

#ReferencesList li a:hover
{
    color: #C89B3C;
}

#ReferencesList li a:active
{
    color: white;
}

#VideoArticle
{
    margin-top: 6em;
    text-align: center;
}

#Video
{
    border: 1px solid #785A28;
    margin-bottom: 3em;
}

footer
{
    left: 0;
    bottom: 0;
    color: white;
    width: 100%;
    height: 80px;
    position:fixed;
    border: 1px solid #785A28;
    text-align: center;
}

footer ul
{
    margin-top: .25em;
}

footer ul li
{
    display: inline;
    margin-right: 2em;
    padding: .8em;
    border: 1px solid #785A28;
    border-radius: .4em;
}

footer ul li a
{
    font-size: 2em;
    font-weight:bold;
    text-decoration: none;
    color: #785A28;
}
footer li:hover
{
    background-color: #CDFAFA;
    border: 2px solid #C89B3C;
}

footer li:hover a
{
    color: #C89B3C;
}

footer li a:active
{
    color: white;
}